In [4]:
# Dependencies
import json
import requests
import pandas as pd

In [32]:
# List of character
search_characters = ['R2-D2', 'Darth Vader', 'Godzilla', 'Luke Skywalker', 'Frodo',
                     'Boba Fett', 'Iron Man', 'Jon Snow', 'Han Solo']

# Set url for API
url = 'https://swapi.dev/api/people/?search='

# Set empty lists to hold characters height and mass
height = []
mass = []


for name in search_characters:
    try:
        query_url = url + name
        info = requests.get(query_url).json()
        height.append(info['results'][0]['height'])
        mass.append(info['results'][0]['mass'])
        print(name + ' found')
    except:
        print(name + ' not found')
        pass

R2-D2 found
Darth Vader found
Godzilla not found
Luke Skywalker found
Frodo not found
Boba Fett found
Iron Man not found
Jon Snow not found
Han Solo found

In [33]:
print(height)
mass

['96', '202', '172', '183', '180']

['32', '136', '77', '78.2', '80']

        character height  mass
0           R2-D2     96    32
1     Darth Vader    202   136
2  Luke Skywalker    172    77
3       Boba Fett    183  78.2
4        Han Solo    180    80